@model IEnumerable<Saal.API.Models.Restaurant>

@{
    ViewData["Title"] = "Lista de Restaurantes";
}

<h2>Lista de Restaurantes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Address</td>
                <td>@restaurant.Phone</td>
            </tr>
        }
    </tbody>
</table>